'scopeName': 'source.embperl'
'name': 'EMBPERL'
'fileTypes': ['EPL']
'patterns': [
  {
    'include': 'text.html.basic'
  }
  {
    'begin': '\\[(!|-|\\*)'
    'end': '\\1\\]'
    'patterns': [
      {
        'include': 'source.perl'
      }
    ]
    'name': 'source.embperl.perl.block'
  }
  {
    'begin': '\\[\\+'
    'end': '\\+\\]'
    'patterns': [
      # TODO: It would be nice to limit this to expressions, otherwise combine
      # it with the block above
      'include': 'source.perl'
    ]
    'name': 'source.embperl.perl.expression'
  }
]
